<label [% process_attrs(f.label_attributes) %]for="[% f.html_name %]">[% f.label %]</label>
[% FOR option IN f.options -%]
  <input type="checkbox" value="[% option.value %]" name="[% f.name %]"
  [% FOREACH selval IN f.fif -%]
    [% IF selval == option.value %]selected="selected"[% END -%]
  [% END -%]>
  [% option.label | html -%]>
[% END -%] 
