<fieldset class="[% f.name %]">
<legend>[% f.label %]</legend>
[% FOREACH sf IN f.sorted_fields -%]
[% outerf = f; f = sf; -%]
<div[% process_attrs(f.wrapper_attributes)%]>[% PROCESS "field/${f.widget}.tt" -%]</div>
[% f = outerf -%]
[% END -%]
</fieldset>
