<label [% process_attrs(f.label_attributes) %]for="[% f.html_name %]">[% f.label %]: </label>
<input type="[% f.input_type %]" name="[% f.html_name %]" id="[% f.id %]" [% process_attrs(f.attributes) %] value="[% f.fif %]">
