<label class="label [% IF f.has_errors %]fld_error[% END %]" for="[% f.name %]">[% f.label %]</label>
<select name="[% f.name %]">
  [% FOR option IN f.options %]
    <option value="[% option.value %]" 
    [% IF option.value == f.fif %]selected="selected"[% END %]>
    [% option.label | html %]</option>
  [% END %] 
</select>

