<label class="label [% IF f.has_errors %]fld_error[% END %]" for="[% f.html_name %]">[% f.label %]</label>
<textarea name="[% f.html_name %]" id="[% f.id %]" rows="[% f.rows %]" cols="[% f.cols %]">
[% f.fif %]
</textarea>
