[% PROCESS form/form_start.tt -%]
[% FOREACH f IN form.sorted_fields -%]
[% WRAPPER "wrapper/${f.twrapper}" -%][% PROCESS "field/${f.twidget}" -%][% END -%]
[% END -%]
[% PROCESS form/form_end.tt -%]
