<label class="label [% IF field.has_errors %]fld_error[% END %]" for="[% f.name %]">[% f.label %]</label>
[% FOR option IN f.options %]
 <input type="radio" value="[% option.value %]" 
 [% FOREACH selval IN f.fif %]
   [% IF selval == option.value %]selected="selected"[% END %]
 [% END %]>
 [% option.label | html %]>
[% END %] 

